/* .parent {
    padding: 50px;
    background-color: aqua;
    border-radius: 30px;
    font-size: 30px;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.child {
    padding: 50px;
    background-color: blueviolet;
    border-radius: 30px;
    font-size: 30px;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.children {
    padding: 50px;
    background-color: greenyellow;
    border-radius: 30px;
    font-size: 30px;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.list {
    margin-top: 100px;
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    outline: 1px solid red;
    list-style: none;
    margin: 0;
}

.btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: 2px solid green;

}

.active-btn {
    background-color: rgb(82, 82, 150);
    color: #fff;
    outline: 2px solid red;
} */

/* .item{
    width: 1000px;
}

.image{
    max-width: 1000px;
} */

h1,h2,p{
    margin: 0;
}

img{
    display: block;

}





.header{
    height: calc(100vh + 100px);
    background-color: tomato;
}

section{
    height: 100vh;
}

img{
    width: 200px;
    height: 200px;
    outline: 1px solid red;
}